*{
	margin:0px;
	padding:0px;
	font-family:monospace;
	font-size: 105%;
	color:#000000;
}

body{

}
.polig{ 
width:200px; 
height:200px; 
background:#444444; 
font-family:arial; 
font-weight:bold; 
color:#EEEEEE; 

} 

/*menu lateral*/
/*Para que agarre el css,cambia el nombre en la ruta del menu,o barra,y despues recarga el navegador,al quedarse sin css se cambia el
nombre del archivo en la carpeta css*/

div#barra-lateral{
	position:fixed;
	width:235px;
	height:100%;
	background-color:#D8D8D8;
	overflow:hidden;
	-webkit-transition:width 0.2s cubic-bezie r(.61,.01,.37,1);
}

/*div#barra-lateral:hover{
	width:230px;
}*/

div#logo-menu{
	width:200px;
	height:55px;
	margin:10px;
	background-image:url(../pictures/logo-labro2.png);
}

div#contenedor-logos-pri


mero{
	margin-top:10px;
}

div.contenedor-logos{
	margin-top:15px;
	margin-left:15px;
	width:210px;
	height:40px;

	
}

div.contenedor-logos:hover
{
background-color: #0489B1;
height:40px;
width:210px;
border-radius:0.20rem;
}
div.contenedor-logos2{
	margin-top:15px;
	margin-left:15px;
	width:210px;
	height:40px;

	
}

div.contenedor-logos2:hover
{
background-color: #0489B1;
height:40px;
width:210px;
border-radius:0.20rem;
}

div.infoSesion{

	 text-shadow: 1px 2px 2px #fff;
	 font:bold 12.5px "Trebuchet MS"; 
	text-align: center;
	margin-top:15px;
	margin-left:10px;
	width:210px;
	height:75px;
	background-color: #A4A4A4;
	  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}


}
#combillo
{
	margin-left:1000px;
}
