body {
  background: #E6E6E6;
  color: #262626;
  font-size: 13px;
  font-family: Arial, Sans-serif; }

#modulo_barraup {
  background-color: rgba(123,123,123,0.2); 
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 3px;
  position: fixed; }

#modulo_relojup {
  width: 80px;
  top: 5px;
  right: 0px;
  padding: 3px;
  position: fixed; }  

#modulo_barradown {
  background-color: rgba(123,123,123,0.2); 
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 3px;
  position: fixed; }

#modulo_flotante {
  background-color: rgba(123,123,123,0.2); 
  width: 36px;
  height: 30px;
  top: 38px;
  left: -5px;
  padding: 3px;
  position: fixed; 

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

#usuario_nombre {
  float: right;
  text-align: right;
  padding-right: 8px; }

#menu_nombre {
  padding-left: 8px; }

a:link {
  text-decoration:none;
  color: #262626; }

#contenedor {
  width: 90%;
  max-width: 864px;

  margin: 40px auto;
  text-align: justify; }

#tablero {
  width: 92%;
  max-width: 1020px;

  margin: 40px auto;
  text-align: justify; }

#loginform {
  background-color: rgba(123,123,123,0.1);
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;        
  padding: 10px;
  text-align: center;
  max-width: 180px;
  margin: 72px auto; }

#imagen_menu {
  float: left;
  height: 30px; }

#imagen_ayuda {
  float: right;
  height: 30px; }

.imgDerecha {
  float: right;
  height: 30px; }

.imagen_izquierda {
  float: left;
  height: 30px; }

.imagen_derecha {
  float: right;
  height: 30px; }

.imagen_empleado {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  width: 162px; }

.imagen_catalogo {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  height: 16px; }

.bloque {
  background-color: rgba(123,123,123,0);
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.boxPantone {
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 60px;
  width: 60px; }  

.subbloque {
  background-color: rgba(180,180,180,0.3);
  padding: 5px;
  text-align: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.listado {
  background-color: rgba(180,180,180,0.3);
  padding: 5px;
  text-align: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.listado img {
   }

.listado ul {
  list-style:none; }

.listado img {
  height: 30px;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */ }

.listado img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */ }

.textId {
  font-size: 90%;
  font-style: italic; }

.textNombre {
  font-size: 110%;
  font-style: bold; }

.registro {
  display: block; }

article {
  display: inline-block;
  margin: 0 auto; }

section {
  margin: 0 auto;
  padding: 10px; }

input, select, textarea {
  width: 162px;
  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

textarea {
  position: relative; }

input[type=checkbox], input[type=radio] {
  width: inherit; }

input[type=submit] {
  color: #424242;
  border: none;
  background-color: #E6E6E6; }

input[type=submit]:hover {
  background-color: #424242;
  color: #E6E6E6; }

input[type=button] {
  color: #424242;
  border: none;
  background-color: #E6E6E6; }

input[type=button]:hover {
  background-color: #424242;
  color: #E6E6E6; }  

.input_numero {
  text-align: right; }

.descripcion {
  width:400px;
  height:100px;
  border: 2px solid #990000; }

.modulo_nombre {
  font-size: 20px;
  font-style: bold; }

.modulo_listado {
  font-size: 16px;
  font-style: bold; }

.logo_empresa {
  background: #E6E6E6;
  border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px; }

.logo_empresa img {
  width: 80%; }

#menu_principal {
 background-color: rgba(123,123,123,0.1);
 border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;

 width: 560px;
 margin: 80px auto;
 text-align: center; }

.submenu {
  vertical-align: top;
  text-align: center;
  padding: 5px;
  width: 120px;
  height: 120px; }

.submenu img{
  opacity: 1;
  height: 100px;

  -moz-transition: all 2.5s;
  -webkit-transition: all 2.5s;
  -o-transition: all 2.5s; }

.submenu img:hover {
  background-color: rgba(123,123,123,0.3); 
  cursor: pointer;
  opacity: 0.75;

  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;

  -moz-transition: all .1s;
  -webkit-transition: all .1s;
  -o-transition: all .1s; }

.catalogo {

}

.catalogo img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  height: 24px; }

/* Calendarios */
#calendario {
  background-color: rgba(123,123,123,0.1); 
  border-radius: 10px;
  -moz-border-radius: 10px;  
  -webkit-border-radius: 10px; 
  padding: 5px;
  margin: 40px auto;
  width: 100%; }

#calendario img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  height: 32px; }

#month {
  font-size: 30px;
  text-align: center; }

.headcal {
  background-color: rgba(20,20,20,0.3); 
  border-radius: 6px;
  -moz-border-radius: 6px;  
  -webkit-border-radius: 6px;     
  font-style: bold; 
  font-size: 14px;
  padding: 5px;
  text-align: center; }

.foulcal { 
  background-color: rgba(0,0,0,0);
  border-radius: 6px;
  -moz-border-radius: 6px;  
  -webkit-border-radius: 6px;     
  font-size: 14px;
  padding: 5px;
  text-align: center; }

.daymonth, .daymonthprevious, .daymonthnext, .noweek {
  border-radius: 6px;    
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 60px;
  padding: 5px;
  width: 80px;
  vertical-align: text-top;

  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s; }
  
.daymonth label, .daymonthprevious label, .daymonthnext label, .noweek label { 
  float: right; }

.daymonthprevious { 
  background-color: rgba(180,0,0,0.1); }

.daymonthprevious:hover {
  background-color: rgba(180,0,0,0.3); }

.daymonth { 
  background-color: rgba(227,82,5,0.1); 
  font-size: 14px;
  font-weight: bold;  }

.daymonth:hover {
  background-color: rgba(227,82,5,0.3); }

.daymonthnext { 
  background-color: rgba(0,180,0,0.1); }

.daymonthnext:hover {
  background-color: rgba(0,180,0,0.3); }

.weekcal { 
  background-color: rgba(0,0,180,0.1); 
  border-radius: 5px;    
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  

  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s; 

  width: 16px; }  

.noweek { 
  background-color: rgba(0,0,180,0.1); 
  font-size: 16px; }

.noweek:hover {
  background-color: rgba(0,0,180,0.3); }

.daymonth:hover, .daymonthprevious:hover, .daymonthnext:hover, .noweek:hover {
  cursor: pointer; 

  -moz-transition: all .1s;
  -webkit-transition: all .1s;
  -o-transition: all .1s; }

table, th, td {
    border-collapse: collapse;
}

td {
  text-align: top;
}