table {
font-family:Sansation;
text-align: justify;
width: 73%;
   border-collapse:separate;
   border-spacing:0px;
   border-color: #e8edff;
   table-layout: fixed;
   border-radius:5px;

}
table.reg {
font-family:Sansation;
font-size:5px;
text-align: justify;
width: 7%;
  
   border-collapse:collapse;
   border-color: #e8edff;
   table-layout: fixed;
   border-radius:5px;
}
  .bordersuperiores{border-radius: 10px 10px 0px 0px; }


p#mostrar{
  padding-right:87px;
  font-family:Sansation;
  text-align: right;
  font-size:0.90em;
  font-style: italic;
  color:#939393;
}
.ordenMedio
{
  color:#B12929;
   font:bold 150% Sansation;
    margin-top:38px;
  padding-left:72%;
}

th {

padding: 4px;
font-size: 100%;
background: white;
font-family:Sansation;
border-radius:2px; 
-moz-border-radius:2px; /* Firefox */ 
-webkit-border-radius:2px; /* Safari y Chrome */ 
 color: black;
   background: #85929E;
text-align:justify;
  -o-transition-property: background-color, color, center;
  -o-transition-duration: 1s;
/*border-radius:1.10rem:*/ 
}
tr
{

   border-spacing:10px;
  padding: 4px;
font-size: 75%;
background: white;
font-family:Sansation;
border-radius:2px; 
-moz-border-radius:2px; /* Firefox */ 
-webkit-border-radius:2px; /* Safari y Chrome */ 
 /*color: #105D81;*/
 color: black;
   background: transparent;
text-align:center;
  -o-transition-property: background-color, color, center;
  -o-transition-duration: 1s;
}
td {
   
padding: 4px;
font-size: 85%;
color: #000;
font-family:Sansation;
font-style: italic;
text-align:justify;
border-radius:2px; 
-moz-border-radius:2px; /* Firefox */ 
-webkit-border-radius:2px; /* Safari y Chrome */ 
padding: 8px;
   background: transparent;
   color: black;
  -o-transition-property: background-color, color, center;
  -o-transition-duration: 1s;
}
tr:hover td:nth-of-type(1n+1){
 background: gray;
 -webkit-transition-duration: 0.2s;
  -o-transition-property: background-color, color, center;
  -o-transition-duration: 1s;


}
td:hover
{
background: #d0dafd;
color: #000;
-webkit-transition-duration: 0.2s;
  -o-transition-property: background-color, color, center;
  -o-transition-duration: 1s;

}
.selected
{
  background-color:#A9C0C8;
}
.selected:hover
{
  background-color:#A9C0C8;
}


img {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
img:hover{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}