
body
{
   overflow-x:hidden;
   background-image:url('../pictures/gray8.jpg');
}
a  
{   
 text-decoration:none; 
 color:#363E50;  
}  

div#formularius
{
/*-webkit-box-shadow: -3px 6px 50px -14px rgba(0,0,0,0.81);
-moz-box-shadow: -3px 6px 50px -14px rgba(0,0,0,0.81);
box-shadow: -3px 6px 50px -14px rgba(0,0,0,0.81);*/
 
  padding-top:2px;
  padding-left:10px;
  text-align: justify;
  color: #000;
  width:70%;
  height:30%;
  margin-left: 200px;
  font-size:0.85em;
  font-family:bold 100% Sansation;
}
.minis
{
  width:100px;
  height:100px;
  color:red;
}

input
{
  background:white;
  font-size: 14px;
  height: 15px;
  padding: 5px;
  width: 200px;
  color:white;
  font:bold 80% Sansation Light;
}

p
{
   font:bold 90% Sansation Light;
}
select.combosMenores
{
 background-color:#EBEDEF;
    font:bold 85% Sansation Light;
    height: 25px;
   width: 200px;
   color:black;
   font-size:13px;
}
select.combosMenores:hover
{
background-color:#85929E;
    font:bold 85% Sansation Light;
    height: 25px;
   width: 200px;
   color:black;
   font-size:13px;
  -webkit-transition-duration: 0.4s;
  -o-transition-property: background-color, color, left;
  -o-transition-duration: 1s;
}
}
input.fecha
{
background-color:#E09F81;
    font:bold 85% Sansation Light;
    height: 26px;
   width: 200px;
   color:black;
   border:none;
font-size:13px;
}
input.fecha:hover
{
background-color:#CCE1E4;
    font:bold 85% Sansation Light;
    height: 26px;
   width: 200px;
   color:black;
   border:none;
font-size:13px;
 -webkit-transition-duration: 0.4s;
  -o-transition-property: background-color, color, left;
  -o-transition-duration: 1s;
}
button
{
    height: 26px;
   width: 90px;
   padding:3px;
   background-color:#767473;
   border:none;
    font:bold 15px Sansation Light;

}
button:hover
{
    height: 26px;
   width: 90px;
   background-color:#ADAAA9;
   border:none;
   -webkit-transition-duration: 0.4s;
  -o-transition-property: background-color, color, left;
  -o-transition-duration: 1s;
}
.polig{ 
width:200px; 
height:200px; 
background:#444444; 
font-family:arial; 
font-weight:bold; 
color:#EEEEEE; 

} 
p.paquetes
{
  font:bold 15px Sansation Light;
  float:left;
  padding:10px;
  background:#9EABAB;
  margin:4px;

}
#paquetines
{
  width:900px;
  height:350px;
  margin-left:200px;
  margin-top:50px;
  background:#DEE2E2;
  -webkit-box-shadow: -1px 9px 14px -1px rgba(0,0,0,0.52);
-moz-box-shadow: -1px 9px 14px -1px rgba(0,0,0,0.52);
box-shadow: -1px 9px 14px -1px rgba(0,0,0,0.52);
}
#empaques
{
  text-align:left;
  padding: 10px;
  width:70%;
  height:15%;
  margin-left:15%;
  margin-top:50px;
  background:#DEE2E2;
  -webkit-box-shadow: -1px 9px 14px -1px rgba(0,0,0,0.52);
-moz-box-shadow: -1px 9px 14px -1px rgba(0,0,0,0.52);
box-shadow: -1px 9px 14px -1px rgba(0,0,0,0.52);
}
select
{
   background-color:#EBEDEF;
    font:bold 85% Sansation Light;
    height: 25px;
   width: 200px;
   color:black;
   font-size:13px;
}




}