:root {
    --primary-c: #2196F3;
    --secondary-c: #B2D7F5;
    --tercera-c:#FF0000;
    --cuarta-c:#000000;
    --white: #FDFBFB;
    --text: #082943;
    --bg: var(--primary-c);
}
/* Basic Config
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
    display: flex;
    flex-direction: column; 
    background: var(--gray);
    padding: 20px 25px;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.13);
    margin-left: 20px;
    margin-bottom: 20px;
    border-color: blue;
}
input[type=radio] { width: inherit; }
/* Radio Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*input[type=radio] {
    position: absolute;
    visibility: hidden;
}

label { 
    cursor: pointer; 
    font-weight: 400;
}
/*
.check {
    width: 15px; height: 15px;
    position: absolute;
    border-radius: 50%;
    transition: transform .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Reset 
input#one ~ .check { 
    transform: translate(-15px, 90px); 
    background: var(--secondary-c); 
}

input#two ~ .check { 
    transform: translate(-15px, 60px); 
    background: var(--primary-c);
    box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
}

input#three ~ .check { 
    transform: translate(-15px, 30px); 
    background: var(--tercera-c);
    box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
}

input#four ~ .check { 
    transform: translate(-15px, 0px); 
    background: var(--cuarta-c);
    box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
}


/* Radio Input #1 
input#one:checked ~ .check { transform: translate(-15px, 30px); }

/* Radio Input #2 
input#two:checked ~ .check { transform: translate(-15px, 90px); }


/* Radio Input #3 
input#three:checked ~ .check { transform: translate(-15px, 0px); }

/* Radio Input #4 
input#four:checked ~ .check { transform: translate(-15px, 60px); }



/*El "."es class y el "#"es id de variables en html */