form#formulary {
  background-color: #B5CAFF;
  background-repeat: repeat-x;
  color: #000;
  width: 1000px;
  margin-left: 200px;
  border-radius:30px; 
  font-size:0.85em;
}

input:hover
{
  background-color:#FF9429; 
}

select, input
{ 
  background-color:#D7D7FF;
  border-radius:5px;
  height: 22px;
  width: 180px;
}

p#titulo
{
  border-bottom: 10px solid #E5531D;
}

input.numericos
{
background-color:#D7D7FF;
  border-radius:5px;
  height: 22px;
  width: 100px;
}

button
{ 
  background:#D9762A;
  color:#fff;
  display:inline-block;
  font-size:1.05em;
  margin:18px;
  margin-left: 800px;
  padding:4px 0;
  text-align:center;
  width:100px;
  text-decoration:none;
  box-shadow:0px 3px 0px #FAA666;
}

button:hover
{ 
  box-shadow:0px 0px 0px;
  padding-top:5px;
  background-color: #FF4400;
}

p#mostrar{
  font-family: arial;
  text-align: right;
  font-size:0.90em;
  color: #929292;
}