form#formulary {
-webkit-box-shadow: -3px 6px 50px -14px rgba(0,0,0,0.81);
-moz-box-shadow: -3px 6px 50px -14px rgba(0,0,0,0.81);
box-shadow: -3px 6px 50px -14px rgba(0,0,0,0.81);
  padding-top:2px;
  padding-left:10px;
  margin-top:10px;
  text-align: justify;
  color: #000;
  width: 1000px;
  margin-left: 210px;
  font-size:0.85em;
  font-family: monospace,courier;
}

input:hover
{
  background-color:#FF9429; 
}

.checks
{
  margin-left: 850px;
  text-align:center;
  width:100px;
float: right;
    margin-right: 1em;
    margin-bottom: 1em;
    transform: translate(90%, -90%);
}
.txtChecks
{

  color:#000;
  margin-left: 850px;
  text-align:center;
  width:100px;
    margin-right: 1em;
    margin-bottom: 1em;
    transform: translate(-2%, -520%);
text-shadow: 1px 1px 2px gray;
}
.checks2
{
  margin-left: 850px;
  text-align:center;
  width:100px;
float: right;
    margin-right: 1em;
    margin-bottom: 1em;
    transform: translate(90%, -100%);
}
.txtChecks2
{

  color:#000;
  margin-left: 850px;
  text-align:center;
  width:100px;
    margin-right: 1em;
    margin-bottom: 1em;
    transform: translate(-2%, -1160%);
text-shadow: 1px 1px 2px gray;
}
input
{ 
  background-color:#fff;
  height: 18px;
  width: 180px;
}
select
{
  background-color:#939393;
  height: 20px;
  width: 180px;
  border-radius:4px;
  margin-top:2px;
  margin-bottom:7px;
}


.numeros
{
width:100px;
}
.numerosGrandes
{
width:150px;
}
.numerosExtraGrandes
{
width:180px;
}

p#titulo
{
  border-bottom: 5px solid #E5531D;
}

input.numericos
{
background-color:#fff;
  height: 17px;
  width: 140px;
}
p {
margin-top: 2pt;
margin-bottom: 2pt;
}

button
{ 
  background:#BDBDBD;
  color:#fff;
  font-size:1.05em;
  margin:18px;
  margin-left: 800px;
  text-align:center;
  width:100px;
  height:21px;
  margin-top: 2pt;
margin-bottom: 5pt;


}

.botonPerson1
{ 
  background:#BDBDBD;
  color:#fff;
  font-size:1.05em;
  margin:18px;
  margin-left: 800px;
  text-align:center;
  width:100px;
  height:21px;
  margin-top: 2pt;
margin-bottom: 5pt;
transform: translate(-190%, -405%);
}

.botonPerson2
{ 
  background:#BDBDBD;
  color:#fff;
  font-size:1.05em;
  margin:18px;
  margin-left: 800px;
  text-align:center;
  width:100px;
  height:21px;
  margin-top: 2pt;
margin-bottom: 5pt;
transform: translate(60%, -915%);
}
button:hover
{ 
  background-color: #767676;

}

p#mostrar{
  padding-right:87px;
  font-family: arial;
  text-align: right;
  font-size:0.90em;
  font-style: italic;
  color:#939393;
}
.ordenMedio
{
  color:#B12929;
   font:bold 150% monospace;
    margin-top:38px;
  padding-left:1000px;
}
}