body {
  background: #E6E6E6;
  color: #262626;
  font-family: Arial, san-serif; }

#formulario {  
  background-color: rgba(123,123,123,0.2);    
  width: 340px;    
  padding: 20px;  
  margin: 72px auto;  
  border-radius: 10px;    
  -moz-border-radius: 10px;  
  -webkit-border-radius: 10px; }

#listado {  
  background-color: rgba(123,123,123,0.2); 
  width: 90%;   
  padding: 20px;
  margin: 72px auto;  
  border-radius: 10px;    
  -moz-border-radius: 10px;  
  -webkit-border-radius: 10px; }

#ModuleActive {
  background-color: rgba(0,0,0,0); 
  top: 0px;
  left: 0px;
  padding: 4px;  
  position: fixed;
  text-align: right;
  margin: 10px auto;  
  border-radius: 8px;    
  -moz-border-radius: 8px;  
  -webkit-border-radius: 8px; }

#UserActive {
  background-color: rgba(0,0,0,0); 
  top: 0px;  
  right: 0px;
  padding: 4px;  
  position: fixed;
  text-align: left;
  margin: 10px auto;  
  border-radius: 8px;    
  -moz-border-radius: 8px;  
  -webkit-border-radius: 8px; }

a:link {
  text-decoration:none;
  color: #262626; }

#listado input,
#formulario input,   
#formulario select,   
#formulario textarea,   
#formulario label {  
  /*font-size: 15px;  */
  margin-bottom: 2px;
  font-family: Arial, san-serif; }

#listado input,
#formulario input, 
#formulario select,   
#formulario textarea {
  color: #000; 
  width: 330px;
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;    
  margin-bottom: 5px;  
  padding: 5px; }

#formulario input[type=radio] {
  width: 24px; }

#formulario input[type=checkbox] {
  width: 24px; }  

#formulario input[type=date] {
  width: 160px; }

#formulario input[type=file] {
  width: 200px; }

#formulario input:focus,   
#formulario select:focus,   
#formulario textarea:focus {  
  background-color: #E5E6E7; 
  color: #005599; }

#formulario textarea {  
  height: 150px; }
 
#formulario #submit {  
  width: 340px;   
  color: #424242;  
  border: none;  
  background-color: #E6E6E6; }

#formulario #submit:hover {  
  background-color: #424242;  
  color: #E6E6E6; }

#listado input[type=submit] {  
  color: #424242;  
  border: none;  
  background-color: #E6E6E6; }

#listado input[type=submit]:hover {  
  background-color: #424242;  
  color: #E6E6E6; }

#formulario #upload {  
  width: 340px;   
  color: #E6E6E6;  
  border: none;  
  background-color: #424242; }

#formulario #upload:hover {  
  background-color: #E6E6E6;  
  color: #424242; }
 
input:required, textarea:required {  
  font-weight:bold;  
  color: #E5E6E7; 
  box-shadow: none;
  -moz-box-shadow: none;  
  -webkit-box-shadow: none;  
  -o-box-shadow: none; } 

#failure, #success {
  color: #6EA070;  }

#formulario #bloque, #listado #bloque {
  font-size: 32px;  
  margin-bottom: 2px;
  font-family: Arial, san-serif; }

#formulario #modulo, #listado #modulo {
  font-size: 26px;  
  margin-bottom: 2px;
  font-family: Arial, san-serif; }

#formulario #operacion, #listado #operacion {
  font-size: 20px;  
  margin-bottom: 2px;
  font-family: Arial, san-serif; }

#home {
  float: left; 
  border-radius: 10% / 10%;/* Borde redondeado */
  /*box-shadow: 0px 0px 15px #000;  Sombra */ }

#icono {
  height: 52px;
  width: 52px;  
  float: right; 
  border-radius: 10% / 10%;}

#formulario #logo {
width: 40px;
border-radius: 10% / 10%; /* Borde redondeado */
box-shadow: 0px 0px 15px #000; /* Sombra */
padding:0;
-moz-transition: all 1s;
-webkit-transition: all 1s;
-o-transition: all 1s; }

#formulario #logo:hover {
width: 340px;
border-radius: 2% / 2%; /* Borde redondeado */
-moz-transition: all 1s;
-webkit-transition: all 1s;
-o-transition: all 1s;
cursor:pointer; }

#listado .empaque {
  color: #071914;
  display: inline-block;
  background-color: #B5B5B5;  
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  margin-bottom: 5px; 
  padding: 5px;
}

#listado .devolucion {
  color: #071914;
  display: inline-block;
  background-color: #B5B5B5;; 
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  margin-bottom: 5px;
  min-width: 280px; 
  padding: 4px;
}